@font-face {
	font-family: 'Palmer Lake Print';
	src: url(../../assets/fonts/PalmerLakePrint-Regular.woff2) format('woff2'),
	url(../../assets/fonts/PalmerLakePrint-Regular.woff) format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}