* {
  box-sizing: border-box;
}

.main {
  max-width: 100%;
  margin: auto;
}

h1 {
  word-break: break-word;
}

.row {
  margin: 8px -16px;
}

.row, .row > .column {
  padding: 8px;
}

.column {
  float: left;
  width: 25%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.content {
  background-color: transparent;
  padding: 10px;
}

@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

